
<h1>JAH BLESS!</h1>

<p>{{name}}</p>
<dl>

  <td>Nombre: </td>
  <dd> {{name}} </dd>

  <td> Edad:</td>
  <dd> {{age}} </dd>
  <!--
    JAH BLESS, podemos poner cualquier expresión javascript. Inclusive
  mandar a llamar la invocación de una invocación ush que re visaje esto parce
eso no se puede hacer en React!!!! Ya paila. En react yo no puedo ejecutar
parchado una función javascript sino que es con variables y los visajes raros -->


  <td>Método: </td>
  <dd> {{getHeroDescription()}} </dd>

  <td>Capitalizado </td>
  <dd> {{capitalizedName}} </dd>
</dl>
<!-- JAH BLESS, puedo poner cualquier expresión basica de js en el "" del ngIf
JAH BLESS, hay un binding que valida si el if es falso o verdadero, si es falso
JAH BLESS, no se renderiza el elemento, si es verdadero se renderiza el elemento
JAH BLESS, acá hago validaciones con el ngIf, si el nombre es spiderman no se
JAH BLESS, renderiza el botón, si el nombre es diferente a spiderman se renderiza
-->
<button
*ngIf="name !== 'spiderman'"
(click)="changeHero()"
class="btn btn-primary mx-2"
 >
  Cambiar nombre
</button>


<button
*ngIf="age !== 25"
class="btn btn-primary mx-2"
(click)="changeAge()" >
  Cambiar edad
</button>

<button
class="btn btn-primary mx-2"
(click)="resetForm()" >
  Reset
</button>
